
#title {
  font-size: 7vw;
  font-family: noto-serif;
  background: #ff6f00;
  border-radius: 4vw;
  border-style: solid;
  color: yellow;
  text-align: center;
  margin: 2vw 2vw 2vw 2vw;
  padding: 2vw 0vw 2vw 0vw;
  background: rgb(238,174,202);
  border-color: aqua;
}
#img-div {
  font-size: 2vw;
  font-family: monospace;
  display:block;
  max-width: 100%;
  text-align: center;
}
#main {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#image {
  display: block;
  height: auto;
  max-width:100%;
  width: 300px;
  border-radius: 50px;
}
span{
  color: yellow;
  font-size: 20;
  font-weight: bold;
}
.logo{
  font-size: 20;
  color:  blue;
}
.GB{
  border: 2.5px solid yellow;
  display: table;
  border-radius: 30px;
  padding: 10px;
  background: rgb(238,174,202);
  border-color: aqua;
  color:  darkslategrey;
}   
.paragraphs{
   color: black;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
}
.information{
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}






